= content_for :breadcrumbs do
  = breadcrumbs ['Главная', root_path], ['Пользователи', users_path], ['Профиль пользователя ' + @user.name ]

=content_for :page_scripts do
  = include_javascripts :users_show

  :javascript
    $(document).ready(function(){
      $(document).usersShow();
    });

#full-width.border
  .profile
    .created_at
      Зарегистрирован:  
      = time_ago_in_words @user.created_at
      назад

  %ul.tabs
    %li.requests
      = link_to 'Открытые запросы', '#'
    %li.responses
      = link_to 'Предложения', '#'


  .panes
    .requests
      - if @requests.any?
        = render :partial => 'requests/request_list_item', :collection => @requests, :as => :request_item
      - else
        .empty
          Пользователь ещё не создал ни одного запроса
    .responses
      - if @responses.any?
        - p @responses 
        = render :partial => 'responses/response_list_item', :collection => @responses, :as => :response_item
      - else
        .empty
          Пользователь ничего не предложил
