= render 'shared/error_messages', :object => f.object

%br
.field
  = f.label :name, 'Я хочу купить'
  = f.text_field :name

.field
  = f.label :description, 'Описание'
  = f.text_area :description

.field
  = f.label :category_id, 'Какая категория наиболее подходит?'
  = f.select :category_id, nested_set_options(Category, @category) {|i| "#{'-' * i.level} #{i.name}" }

.field
  = f.label :city, 'В каком городе?'
  = f.text_field :city

-# Критерии:
-# %br
