= render 'shared/error_messages', :object => f.object
%br
.field
  = f.label :name, 'Я хочу купить'
  = f.text_field :name

.field
  = f.label :description, 'Описание'
  = f.text_area :description

Категория:
%br

Город:
%br

Критерии:
%br
