= render 'shared/error_messages', :object => f.object

%br
.field
  = f.label :name, 'Я хочу купить'
  = f.text_field :name, :class => 'required'

.field
  = f.label :description, 'Описание'
  = f.text_area :description, :class => 'required'

.field
  = f.label :category_id, 'Какая категория наиболее подходит?'
  = f.select :category_id, nested_set_options(Category, @category) {|i| "#{'-' * i.level} #{i.name}" }

.field
  = f.label :city, 'В каком городе?'
  = f.text_field :city

.field
  -# = f.fields_for :criterions do |c_f|
  -#   = c_f.label :name, 'Параметр'
  -#   = c_f.text_field :name

  -#   = c_f.fields_for :values do |v_f|
  -#     = v_f.label :name, 'Значение'
  -#     = v_f.text_field :name 

  -#     = v_f.label :name, 'Значение'
  -#     = v_f.text_field :name

    -# = c_f.label :name, 'Параметр'
    -# = c_f.text_field :name

    -# = c_f.fields_for :values do |v_f|
    -#   = v_f.label :name, 'Значение'
    -#   = v_f.text_field :name 

    -#   = v_f.label :name, 'Значение'
    -#   = v_f.text_field :name




-# Критерии:
-# %br
