= content_for :breadcrumbs do
  = breadcrumbs ['Главная', root_path], ['Мои запросы', profile_requests_path], [@request.name]

#full-width.border
  #request_edit_form
    = form_for(@request) do |f|
      = render 'form', :f => f

      .field
        = f.label :status, 'Состояние'
        = f.select :status, options_for_select(status_options, @request.status) 
      
      %ul.buttons
        %li
          =f.submit "Сохранить"
