= link_to user_path(@request.user) do
  = @request.user.name 
хочет купить:
= @request.name
%br
= simple_format @request.description
%br
В городе: 
= @request.city
%br
Категория:
= @request.category.name
%br
