= content_for :breadcrumbs do
  = breadcrumbs ['Главная', root_path], ['Запросы', requests_path], [@request.name]

=content_for :page_scripts do
  = include_javascripts :requests_show

  :javascript
    $(document).ready(function(){
      $(document).requestsShow();
    });

#full-width.border
  .request
    %span.user
      = link_to @request.user.name, user_path(@request.user)
    хочет купить:
    %span.name
      = @request.name
    %br

    .description
      = simple_format @request.description

    - if @request.city && @request.city != ''
      .city
        В городе: 
        = @request.city

    - if @request.category 
      .category
        Категория:
        = @request.category.name

    - if @request.criterions
      .criterions
        Критерии:
        = render :partial => 'requests/criterion_item', :collection => @request.criterions, :as => :criterion_item

    - if signed_in? && (@request.user == current_user || current_user.admin?)
      .manipulations
        Вы можете
        = link_to 'отредактировать', edit_request_path(@request)
        или
        = form_tag @request, :method => :delete, :confirm => 'Вы уверены?' do 
          = submit_tag 'удалить'
        этот запрос

    %ul.tabs
      %li.responses
        = link_to 'Предложения', '#'
      %li.comments
        = link_to 'Комментарии', '#'

    .panes
      .responses
        .items_wrapper
          - if @request.responses.any?
            = render :partial => 'responses/response_list_item', :collection => @request.responses, :as => :response_item

          - else
            Предложений не поступало

        - if signed_in? && @request.user != current_user
          = render :partial => 'responses/form', :locals => {:request => @request, :response => @response}

      .comments
        Комментарии отсутствуют

