!!!
%html{:lang => 'ru'}
  = render :partial => 'layouts/includes'
  %body{ :id => params[:controller].parameterize('_') + '_' + params[:action]}
    .main-wrapper
      .header-wrapper
        .header
          = render 'shared/header'

      - if content_for?(:breadcrumbs)
        .breadcrumbs-wrapper
          =yield :breadcrumbs
      

      .content-wrapper
        #flashes
          - flash.each do |key, value| 
            %div{:class => "flash_#{key}"}
              = value
        
        = yield
        %br.clear


      .footer-wrapper
        .footer
          =render 'shared/footer'
